@font-face {
    font-family: mickychannels;
    src: url(fuentes/inter.ttf);
}

body{
    position: relative;
    background: #F3F5FC;   
    align-items: row;
}

header img{
    width: 30px;
}

main{
    flex-direction: row;
    max-height: 500px;
    display: inline-block;
}
.munheco{
    padding-top: 20%;
}

.ingreseTexto{
    align-items: center;
    min-width: 300px;
    min-height: 500px;
    left: 0px;
    top: 5px;
    background: #F3F5FC;
    font-weight: 400;
    font-size: 32px;
    margin: 30px;
    border: none;
    resize:none;
    color: #0A3871;
}

.ingreseTexto-2{
    align-items:flex-end;
    height: 300px;
    width: 300px;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 32px;
    margin: 30px;
    padding: 3%;
    border: none;
    resize:none;
    color: #0A3871;
}

.recuadro{
    position:absolute;
    margin: auto;
    width: 400px;
    height: 700px;
    left: 60%;
    top: 10%;
    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

    width: 336px;
    text-align: center;

}
.recuadro-p1{
    height: 10px;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    padding-top: 20%;
    color: #343A40;
}

.recuadro-p2{
    height: 20px;

    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    padding-top: 10%;
    color: #495057;
}
.recuadro-p3{
    height: 100px;
    font-size: 20px;
    height: 48px;
    text-align: left;
    padding-left: 50px;
    color: #495057;


}

.botones li{
    display: inline-block;
    padding: 10px;
}

.btn{
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    padding-left: 37%;
    gap: 8px;

    width: 328px;
    height: 67px;
    border-radius: 24px;

    flex: none;
    flex-grow: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.btn-blue{
    color: white;
    background: #0A3871;
    order: 0;
}

.btn-white{
    box-sizing: border-box;
    color: #0A3871;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    order: 1;
}
.btn-copiar{
    gap: 8px;
    color: #0A3871;
    background: white;
    position: absolute;
    width: 320px;
    height: 67px;
    left: 8px;
    top: 610px;
    font-size: 16px;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

.size{
    display: inline-block;
    height: 100px;
}

@media (max-width: 1240px){
    .flex{
        flex-direction: column;
        align-items: flex-start;
        left: 0%;
    }

    .recuadro{
        position: relative;

        
    }
}